<ul class="sub-menu">
    <!-- 遍历子菜单树 -->
    <% for(childMenu in childMenus){
    <li>
        <!-- 先显示当前菜单 -->
        <a href="${childMenu.url}">
            <i class="iconfont left-nav-li" lay-tips="${childMenu.menuName}">${childMenu.icon}</i>
            <cite>${childMenu.menuName}</cite>
            <% if(childMenu.children != null && childMenu.children.~size > 0){
            <i class="iconfont nav_right">&#xe697;</i>
            <% }
        </a>
        <!-- 再继续递归本模板显示子菜单 -->
        <% layout("/subMenu.html",{"childMenus":childMenu.children}){}
    </li>
    <% }
</ul>